.pill {
    display: inline-block;
    padding: 0.25em 0.5em;
    border-radius: 9999px;
    color: white;
    font-size: 0.75em;
    font-weight: bold;
  }
  
  .pill-workshop {
    background-color: #007bff; /* Blue */
  }
  
  .pill-talk {
    background-color: #28a745; /* Green */
  }
  
  .pill-networking {
    background-color: #ffc107; /* Yellow */
  }
  
  .pill-other {
    background-color: #ff008c; /* Gray */
  }