.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.modal-fade-enter {
  opacity: 0;
}
.modal-fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.modal-fade-exit {
  opacity: 1;
}
.modal-fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050;
  display: block;
}

.modal-header .close {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #000;
  opacity: 0.5;
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal-header .close:hover {
  opacity: 1;
}